/.idea
/__pycache__
/rnn_lstm/__pycache__
/t_6/leNet5/__pycache__
/output
/rnn_lstm/runs
/rnn_lstm/log
/tensorflow_google
/word2vec-test/wiki_texts.txt
/word2vec-test/rt_polarity.model.bin
/word2vec-test/rt_polarity.txt
/QA_LSTM_ATTENTION/__pycache__
/QA_LSTM_ATTENTION/*.log
__pycache__
/QA/runs
/QA/log2
/QA/*.log
/data/freebase/freebase_entity.txt
/data/freebase/freebase_relation.txt
/data/freebase/freebase_rdf.txt
/data/freebase/freebase.zip
